
#create-main {
    flex-direction: column;
    align-items: center;
}

#create-main h2 {
    margin-bottom: 20px;
    text-align: center;
}

#create-main form {
    width: 100%;
    max-width: 600px;
    margin: 30px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #320a50;
}

#create-main .add-opt-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#create-main #q-title {
    margin-bottom: 50px;
}

#create-main .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

#create-main .options .option input {
    margin-top: 5px;
}

#create-main .options .option input[type="number"] {
    padding: 10px;
    width: 50px;
}

#create-main .options .option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-main .question {
    margin-bottom: 50px;
}

#create-main form h3,
#create-main form h4 {
    margin: 10px 0;
    text-align: center;
}

#create-main form h3 {
    font-size: 24px;
}

#create-main form h4 {
    font-size: 18px;
}

#create-main form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#create-main form input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #452a65;
}

#create-main form button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #b54b04;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
#create-main form button[type="submit"]:hover {
    background-color: #dd6711;
}

#create-main .center-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}
#create-main .center-btn button {
    padding: 8px 16px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6203ab;
    transition: background-color 0.3s ease;
}
#create-main .center-btn button:hover {
    background-color: #7c3fbd;
}

#create-main form .bad-options .elements {
    display: flex;
    flex-direction: column;
}

#create-main #new-question-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 50px;
    background-color: #3a035c;
    border-radius: 8px;
    font-weight: bold;
    border: 2px solid #6203ab;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

#create-main #new-question-btn:hover {
    background-color: #6203ab;
    transform: scale(1.02);
    cursor: pointer;
}

@media (max-width: 880px) {
    #create-main h2 {
        font-size: 25px;
    }
}

@media (max-width: 650px) {
    #create-main form {
        max-width: 80%;
    }
}

@media (max-width: 450px) {
    #create-main .options {
        flex-direction: column;
        gap: 15px;
    }

    #create-main #q-title {
        margin-bottom: 30px;
    }
}