
#dashboard-main {
    flex-direction: column;
    align-items: center;
}

#dashboard-main .dashboard-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    flex: 1;
}

#dashboard-main h2 {
    font-size: 30px;
    margin-top: 20px;
}

#dashboard-main .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
}

#dashboard-main .actions input,
#dashboard-main .actions button {
    padding: 10px 20px;
}

#dashboard-main .actions button:active {
    transform: scale(0.98);
}

#dashboard-main .actions .create-test {
    background-color: #3a035c;
    border-radius: 8px;
    font-weight: bold;
    border: 2px solid #6203ab;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

#dashboard-main .actions .create-test:hover {
    background-color: #6203ab;
    transform: scale(1.02);
    cursor: pointer;
}

#dashboard-main .actions .create-test:active {
    transform: scale(0.98);
}


/* ******* SUMMARYY *******/

#dashboard-main .summary {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px 0 50px 0;
}

#dashboard-main .summary fieldset {
    padding: 30px;
    margin: 0 50px;
}

#dashboard-main .summary table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

#dashboard-main .summary table thead {
    background-color: #6203ab;
}

#dashboard-main .summary table thead th {
    padding: 12px 15px;
    text-align: left;
}

#dashboard-main .summary table tbody td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

#dashboard-main .summary table thead th:nth-child(1) {
    width: 250px;
}

#dashboard-main .summary table tbody td:nth-child(1) {
    min-width: 200px;
}

#dashboard-main .summary table tbody td:nth-child(2) {
    max-width: 50px;
    text-align: center;
}

#dashboard-main .summary table tbody td:nth-child(3) {
    color: red;
    cursor: pointer;
    text-align: center;
}

#dashboard-main .summary table tbody td:nth-child(3):hover {
    font-weight: bold;
}

#dashboard-main .summary table tbody tr:nth-child(even) {
    background-color: #7103c5;
}