
#forms-main {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

fieldset {
    border: 2px solid #6203ab;
    border-radius: 10px;
    padding: 50px;
}

legend {
    font-weight: bold;
    color: #fff;
    padding: 0 10px;
    font-size: 20px;
}

#forms-main form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#forms-main .form-field {
    display: flex;
    flex-direction: column;
}

#forms-main label {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 3px;
}

#forms-main form input {
    padding: 7px 10px;
    width: 230px;
}

#forms-main form button {
    padding: 7px 10px;
}

#forms-main form button:active {
    transform: scale(0.98);
}