
#test-main {
    flex-direction: column;
    justify-content: space-between;
}

#test-main .additional-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#test-main form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0.5;
}

#test-main .options {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 0;
}

#test-main .option {
    box-sizing: border-box;
    width: 250px;
    height: 150px;
    padding: 15px;
    border: 2px solid #6203ab;
    border-radius: 8px;
    background-color: #3a035c;
    text-align: center;
    font-weight: bold;
    word-break: break-word;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

#test-main .option:active {
    transform: scale(0.98);
}

#test-main .option:hover {
    background-color: #6203ab;
    cursor: pointer;
}

#test-main .option.selected {
    background-color: #b54b04;
    border-color: #dd6711;
    transform: scale(1.05);
}

.eliminated-option {
    opacity: 0.4;
    pointer-events: none;
}

#test-main .additional-info button {
    padding: 13px;
    border-radius: 5px;
    border: none;
    background-color: #b54b04;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#test-main button:hover {
    background-color: #dd6711;
}

#test-main button:active {
    transform: scale(0.98);
}

#test-main .q-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

#test-main .question {
    width: 60%;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: #452a65;
    font-weight: bold;
    margin-bottom: 20px;
    word-break: break-word;
}

#test-main #answer-mode {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
}

#test-main .q-nav-container nav button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #b54b04;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#test-main .q-nav-container nav button:hover {
    background-color: #dd6711;
}

@media (max-width: 880px) {

    #test-main .option {
        width: 200px;
        min-height: 150px;
        padding: 10px;
    }

    #test-main .question {
        padding: 15px;
    }
}

@media (max-width: 650px) {
    #test-main .additional-info {
        width: 60%;
        flex-direction: column;
        text-align: center;
        gap: 15px;
        margin: 20px auto 0 auto;
    }

    #test-main .additional-info button {
        padding: 10px;
    }
}
