
#welcome-main {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#welcome-main .entry-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-main .entry-code h2 {
    margin-bottom: 25px;
    margin-top: 50px;
    font-size: 80px;
}

#welcome-main .entry-code form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 15px;
}

#welcome-main .entry-code form input {
    width: 190px;
    padding: 10px;
}

#welcome-main .entry-code form button {
    padding: 10px 13px;
}

#welcome-main .entry-code #auth-forms {
    font-style: italic;
}

#welcome-main .entry-code p #auth-forms {
    color: #dd6711;
    font-weight: bold;
}

#welcome-main .entry-code p #auth-forms:hover {
    color: #f47214;
    cursor: pointer;
}

#welcome-main .about {
    width: 70%;
    text-align: center;
}

@media (max-width: 880px) {
    #welcome-main .entry-code h2 {
        font-size: 60px;
    }

    #welcome-main .about {
        width: 70%;
        line-height: 1.5;
        font-size: 20px;
        text-align: center;
    }

    #welcome-main .entry-code form {
        flex-direction: row;
        gap: 10px;
        margin-bottom: 25px;
    }
}

@media (max-width: 650px) {
    #welcome-main .entry-code h2 {
        margin-bottom: 30px;
        font-size: 50px;
    }

    #welcome-main .entry-code form {
        flex-direction: column;
    }

    #welcome-main .about {
        width: 70%;
        margin: 30px 0 30px 0;
        line-height: 1.5;
        font-size: 18px;
        text-align: left;
    }

    #welcome-main .entry-code {
        width: 100%;
    }

    #welcome-main .entry-code form {
        width: 60%;
        margin-bottom: 25px;
    }

    #welcome-main .entry-code form input {
        box-sizing: border-box;
        width: 100%;
    }

    #welcome-main .entry-code form button {
        width: 100%;
    }
}