
#welcome-main {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#welcome-main .entry-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-main .entry-code h2 {
    margin-bottom: 25px;
    margin-top: 50px;
    font-size: 80px;
}

#welcome-main .entry-code form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 15px;
}

#welcome-main .entry-code form input {
    width: 190px;
    padding: 10px;
}

#welcome-main .entry-code form button {
    padding: 10px 13px;
}

#welcome-main .entry-code form button:active {
    transform: scale(0.98);
}

#welcome-main .entry-code p {
    font-style: italic;
}

#welcome-main .entry-code p a {
    color: #dd6711;
    font-weight: bold;
}

#welcome-main .entry-code p a:hover {
    color: #c45c10;
}

#welcome-main .about {
    width: 70%;
    text-align: center;
}